/********** Responsive for max-width: 290px ***********/

@media only screen and (max-width:290px) {

    /**************** NavBar ******************/
    nav{
        display: block;
        padding: 0px 20px;
    }

    .logo1 {
        height: 70px;
        width: 180px;
    }

    .home {
        height: 400px;
        width: 220px;
        font-size: 40px;
        padding: 50px 10px;
        background-color: black;
        backdrop-filter:saturate(100%);
        z-index: 999;
        transition: all .8s;
        margin-left: -400px;
        margin-top: 10px;
        position: fixed;
      }

    li {
        text-align: center;
        display: block;
        margin: 5px 10px 5px -30px;
    }

    .dropdown-menu {
        height: 200px;
        width: 160px;
    }

    .dropdown {
        font-size: 12px;
        padding: 10px;
        text-align: left;
        padding-left: 50px;
    }

    .home-text {
        font-size: 16px;
    }  
    
    .mobile-menu {
        margin-left: 10px;
      }

      /************** mobile-nave  ****************/
  
    .mobile-nav {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: rgb(61, 144, 223);
        padding: 7px 10px;
        font-size: 24px;
        cursor: pointer;
        display: block;
        outline: none;
        color: white;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 999;
        
    }

    .shine {
        margin-top: -320px;
    }

    .Career {
        font-size: 26px;
    }

    .btn1 {
        height: 40px;
        width: 170px;
        font-size: 14px;
        padding: 9px 20px;
    }

    .para {
        font-size: 13px;
        padding: 0px 20px;
    }

    .circle {
        display: block;
        margin-top: 70px;
    }

    .call {
        margin: 0px;
    }

    .box {
        height: 130px;
        width: 130px;
        padding: 25px;
    }
    
    #icon  {
        font-size: 80px;
    }

    .text {
        font-size: 14px;
        padding: 0px 20px 30px 20px;
    }

    /****************** About ********************/

    .nxt {
        height: 750px;
        display: block;
        padding: 60px 30px;
        margin-top: 0px;
        
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
    
    .about {
        padding: 0px;
        font-size: 25px;
        text-align: center;
    }

    .haunt {
        font-size: 14px;
        padding: 30px 0px;
        line-height: 1.5;
    }

    /********************* Course **********************/

    .top-course {
        font-size: 24px;
        text-align: center;
        padding: 10px;
    }

    .sub-course{
        display: block;
    }

    .sub-course-under {
        display: block;
        width: 100%;
       
    }

    .course {
        width: 100%;
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0px 10px 5px 10px;
    }

    .course-name {
        font-size: 18px;
    }

    .course-description {
        font-size: 14px;
    }

    .course-duration {
        font-size: 16px;
        padding: 0px;
    }

    .btn2 {
        height: 30px;
        width: 100px;
        font-size: 14px;
        padding: 5px 10px;
    }


    /*************************** Mission **********************/

    .mission {
        height: 570px;
    }

    .our {
        font-size: 26px;
        text-align: center;
        padding: 30px 10px 0px 10px;
    }

    .sub-mission {
        font-size: 14px;
        line-height: 1.5;
        padding: 30px;
    }


    /*********************** Demo Class **************************/

    .then  {
        display: block;
        margin: 50px 0px;
    }

    .then-left {
        width: 100%;
        padding: 10px 30px;
        margin-left: 0px;
    }

    .questions {
        font-size: 24px;
        text-align: center;
    }

    .then-right {
        width: 100%;
        padding: 10px 20px;
        margin-top: 30px;
    }

    .demo {
        font-size: 24px;
        text-align: center;
    }

    input[type="text"] {
        width: 220px;
    }

    select[name="fundamental"] {
        width: 220px;
    }

    /******************* footer *************************/

    .last-up {
        display: block;
        padding: 0px 30px;
        margin: 0px;
    }

    .last-heading{
        padding-top: 30px;
    }

    .navigation {
        font-size: 16px;
        text-align: center;
        padding: 5px;
    }

    .icon {
        margin: 20px 0px;
    }

    .logo2 {
        height: 70px;
        width: 180px;
        margin-top: 30px;
        margin-left: 30px;
    }

    .copyright {
        font-size: 12px;
        padding: 10px 20px; 
    }
}





/********** Responsive for max-width: 380px ***********/


@media only screen and (min-width:291px) and (max-width:380px) {

    /**************** NavBar ******************/
    nav{
        display: block;
        padding: 0px 20px;
    }

    .logo1 {
        height: 80px;
        width: 200px;
    }

    .home {
        height: 400px;
        width: 300px;
        font-size: 40px;
        padding: 50px 10px;
        background-color: black;
        backdrop-filter:saturate(100%);
        z-index: 999;
        transition: all .8s;
        margin-left: -400px;
        margin-top: 10px;
        position: fixed;
      }

    li {
        text-align: center;
        display: block;
        margin: 10px 10px 10px -30px;
    }

    .dropdown-menu {
        height: 230px;
        width: 200px;
    }

    .dropdown {
        font-size: 14px;
        padding: 10px;
        text-align: left;
        padding-left: 70px;
    }

    .home-text {
        font-size: 18px;
    }  

    .mobile-menu {
        margin-left: 20px;
      }
  
    /************** mobile-nave  ****************/
  
    .mobile-nav {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: rgb(61, 144, 223);
        padding: 7px 10px;
        font-size: 24px;
        cursor: pointer;
        display: block;
        outline: none;
        color: white;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 999;
        
    }

    .shine {
        margin-top: -340px;
    }

    .Career {
        font-size: 36px;
    }

    .btn1 {
        height: 40px;
        width: 200px;
        font-size: 16px;
        padding: 7px 30px;
    }

    .para {
        font-size: 16px;
        padding: 0px 30px;
    }

    .circle {
        display: block;
        margin-top: 70px;
    }

    .call {
        margin: 0px;
    }

    .box {
        height: 130px;
        width: 130px;
        padding: 25px;
    }
    
    #icon  {
        font-size: 80px;
    }

    .text {
        padding: 0px 20px 30px 20px;
    }

    /****************** About ********************/

    .nxt {
        height: 750px;
        display: block;
        padding: 60px 50px;
        margin-top: 0px;
        
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
    
    .about {
        padding: 0px;
        font-size: 25px;
        text-align: center;
    }

    .haunt {
        font-size: 16px;
        padding: 30px 0px;
        line-height: 1.5;
    }

    /********************* Course **********************/

    .top-course {
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }

    .sub-course{
        display: block;
    }

    .sub-course-under {
        display: block;
        width: 100%;
       
    }

    .course {
        width: 100%;
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0px 10px 5px 10px;
    }

    .course-name {
        font-size: 22px;
    }

    .course-duration {
        padding: 0px;
    }

    .btn2 {
        height: 40px;
        width: 140px;
        font-size: 18px;
    }


    /*************************** Mission **********************/

    .mission {
        height: 520px;
    }

    .our {
        font-size: 30px;
        text-align: center;
        padding: 30px 10px 0px 10px;
    }

    .sub-mission {
        font-size: 16px;
        line-height: 1.5;
        padding: 30px;
    }


    /*********************** Demo Class **************************/

    .then  {
        display: block;
        margin: 50px 0px;
    }

    .then-left {
        width: 100%;
        padding: 10px 30px;
        margin-left: 0px;
    }

    .questions {
        font-size: 24px;
        text-align: center;
    }

    .then-right {
        width: 100%;
        padding: 10px 20px;
        margin-top: 30px;
    }

    .demo {
        font-size: 24px;
        text-align: center;
    }

    input[type="text"] {
        width: 320px;
    }

    select[name="fundamental"] {
        width: 320px;
    }

    /******************* footer *************************/

    .last-up {
        display: block;
        padding: 0px 60px;
        margin: 0px;
    }

    .last-heading{
        padding-top: 30px;
    }

    .navigation {
        font-size: 16px;
        text-align: center;
        padding: 5px;
    }

    .icon {
        margin: 20px 0px;
    }

    .logo2 {
        height: 80px;
        width: 200px;
        margin-top: 30px;
        margin-left: 30px;
    }

    .copyright {
        font-size: 14px;
        padding: 10px 30px; 
    }

}





/********** Responsive for max-width: 420px ***********/



@media only screen and (min-width:381px) and (max-width:420px) {

    /**************** NavBar ******************/
    nav{
        display: block;
        padding: 0px 20px;
    }

    .logo1 {
        height: 80px;
        width: 200px;
    }

    .home {
        height: 400px;
        width: 300px;
        font-size: 40px;
        padding: 50px 10px;
        background-color: black;
        backdrop-filter:saturate(100%);
        z-index: 999;
        transition: all .8s;
        margin-left: -400px;
        margin-top: 10px;
        position: fixed;
      }

    li {
        text-align: center;
        display: block;
        margin: 5px 10px 5px -30px;
    }

    .dropdown-menu {
        height: 210px;
        width: 200px;
    }

    .dropdown {
        font-size: 14px;
        padding: 10px;
        text-align: left;
        padding-left: 70px;
    }

    .home-text {
        font-size: 18px;
    }  
    
    .mobile-menu {
        margin-left: 40px;
      }
  
    /************** mobile-nave  ****************/
  
    .mobile-nav {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: rgb(61, 144, 223);
        padding: 7px 10px;
        font-size: 24px;
        cursor: pointer;
        display: block;
        outline: none;
        color: white;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 999;
        
    }

    .shine {
        margin-top: -340px;
    }

    .Career {
        font-size: 36px;
    }

    .btn1 {
        height: 40px;
        width: 200px;
        font-size: 16px;
        padding: 7px 30px;
    }

    .para {
        font-size: 16px;
        padding: 0px 30px;
    }

    .circle {
        display: block;
        margin-top: 70px;
    }

    .call {
        margin: 0px;
    }

    .box {
        height: 130px;
        width: 130px;
        padding: 25px;
    }
    
    #icon  {
        font-size: 80px;
    }

    .text {
        padding: 0px 20px 30px 20px;
    }

    /****************** About ********************/

    .nxt {
        height: 700px;
        display: block;
        padding: 60px 50px;
        margin-top: 50px;
        
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }
    
    .about {
        padding: 0px;
        font-size: 25px;
        text-align: center;
    }

    .haunt {
        font-size: 16px;
        padding: 30px 0px;
        line-height: 1.5;
    }

    /********************* Course **********************/

    .top-course {
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }

    .sub-course{
        display: block;
    }

    .sub-course-under {
        display: block;
        width: 100%;
       
    }

    .course {
        width: 100%;
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0px 10px 5px 10px;
    }

    .course-name {
        font-size: 22px;
    }

    .course-duration {
        padding: 0px;
    }

    .btn2 {
        height: 40px;
        width: 140px;
        font-size: 18px;
    }


    /*************************** Mission **********************/

    .mission {
        height: 520px;
    }

    .our {
        font-size: 30px;
        text-align: center;
        padding: 30px 10px 0px 10px;
    }

    .sub-mission {
        font-size: 16px;
        line-height: 1.5;
        padding: 30px;
    }


    /*********************** Demo Class **************************/

    .then  {
        display: block;
        margin: 50px 0px;
    }

    .then-left {
        width: 100%;
        padding: 10px 20px;
        margin-left: 0px;
    }

    .questions {
        font-size: 24px;
        text-align: center;
    }

    .then-right {
        width: 100%;
        padding: 10px 20px;
        margin-top: 30px;
    }

    .demo {
        font-size: 24px;
        text-align: center;
    }

    input[type="text"] {
        width: 350px;
    }

    select[name="fundamental"] {
        width: 350px;
    }

    /******************* footer *************************/

    .last-up {
        display: block;
        padding: 0px 80px;
        margin: 0px;
    }

    .last-heading{
        padding-top: 30px;
    }

    .navigation {
        font-size: 16px;
        text-align: center;
        padding: 5px;
    }

    .icon {
        margin: 20px 0px;
    }

    .logo2 {
        height: 80px;
        width: 200px;
        margin-top: 30px;
        margin-left: 30px;
    }

    .copyright {
        font-size: 14px;
        padding: 10px 30px; 
    }
}







/********** Responsive for max-width: 780px ***********/



@media only screen and (min-width:421px) and (max-width:780px) {


    /**************** NavBar ******************/
    nav{
        padding: 0px 40px;
    }

    .logo1 {
        height: 80px;
        width: 200px;
    }

    .home {
        margin: 30px 20px;
    }

    .home-text {
        font-size: 18px;
    }    


    .Career {
        font-size: 50px;
    }

    .para {
        font-size: 18px;
    }

    .circle {
        margin-top: 130px;
    }

    .box {
        height: 110px;
        width: 110px;
        padding: 25px;
    }
    
    #icon  {
        font-size: 60px;
    }

    .head {
        font-size: 22px;
    }

    /****************** About ********************/

    .nxt {
        height: 550px;
        padding: 60px 50px;
        
    }

    
    .about {
        padding-left: 0px;
        font-size: 30px;
    }

    .haunt {
        font-size: 16px;
    }

    /********************* Course **********************/

    .top-course {
        font-size: 40px;
    }

    .sub-course{
        display: block;
    }

    .sub-course-under {
        width: 100%;
       
    }

    .course {
        width: 50%;
        margin-top: 30px;
    }

    .course-name {
        font-size: 22px;
    }


    /*************************** Mission **********************/

    .our {
        font-size: 40px;
    }


    /*********************** Demo Class **************************/

    .then-left {
        width: 40%;
        padding: 10px 20px 10px 50px;
        margin-left: 0px;
    }

    .questions {
        font-size: 30px;
    }

    .then-right {
        width: 60%;
        padding: 10px 30px;
        margin-right: 0px;
    }

    .demo {
        font-size: 30px;
    }

    input[type="text"] {
        width: 370px;
    }

    select[name="fundamental"] {
        width: 370px;
    }

    /******************* footer *************************/

    .last-up {
        padding: 50px 20px 0px 20px;
    }
    .logo2 {
        height: 80px;
        width: 200px;
        margin-left: 20px;
    }
}





/********** Responsive for max-width: 830px ***********/


@media only screen and (min-width:781px) and (max-width:830px) {

    /**************** NavBar ******************/
    nav{
        padding: 0px 50px;
    }

    .logo1 {
        height: 80px;
        width: 200px;
    }

    .home {
        margin: 30px 20px;
    }

    .home-text {
        font-size: 18px;
    }    


    .Career {
        font-size: 60px;
    }

    .circle {
        margin-top: 130px;
    }

    .box {
        height: 110px;
        width: 110px;
        padding: 25px;
    }
    
    #icon  {
        font-size: 60px;
    }

    .head {
        font-size: 22px;
    }

    /****************** About ********************/

    .nxt {
        height: 500px;
        padding: 60px 50px;
        
    }

    
    .about {
        padding-left: 0px;
        font-size: 30px;
    }

    .haunt {
        font-size: 16px;
    }

    /********************* Course **********************/

    .top-course {
        font-size: 40px;
    }

    .sub-course{
        display: block;
    }

    .sub-course-under {
        width: 100%;
       
    }

    .course {
        width: 50%;
        margin-top: 30px;
    }

    .course-name {
        font-size: 22px;
    }


    /*************************** Mission **********************/

    .our {
        font-size: 40px;
    }


    /*********************** Demo Class **************************/

    .then-left {
        width: 40%;
        padding: 10px 20px 10px 50px;
        margin-left: 0px;
    }

    .questions {
        font-size: 30px;
    }

    .then-right {
        width: 60%;
        padding: 10px 30px;
        margin-right: 0px;
    }

    .demo {
        font-size: 30px;
    }

    input[type="text"] {
        width: 400px;
    }

    select[name="fundamental"] {
        width: 400px;
    }

    /******************* footer *************************/

    .last-up {
        padding: 50px 20px 0px 20px;
    }

    .logo2 {
        height: 80px;
        width: 200px;
        margin-left: 10px;
    }
}






/********** Responsive for max-width: 1024px ***********/


@media only screen and (min-width:831px) and (max-width:1024px) {

    /**************** NavBar ******************/
    nav{
        padding: 0px 50px;
    }

    /****************** About ********************/

    .nxt {
        height: 600px;
        
    }

    .about {
        padding-left: 0px;
        font-size: 40px;
    }

    /********************* Course **********************/


    .sub-course{
        display: block;
    }

    .sub-course-under {
        width: 100%;
       
    }

    .course {
        width: 50%;
        margin-top: 30px;
    }


    /*********************** Demo Class **************************/

    .then-left {
        padding: 10px;
        margin-left: 30px;
    }

    .questions {
        font-size: 30px;
    }

    .then-right {
        padding: 10px;
        margin-right: 50px;
    }

    .demo {
        font-size: 36px;
    }

    /******************* footer *************************/

    .last-up {
        padding: 80px 0px 0px 0px;
    }
}